<div class="row">
  <div class="span6 offset3">
    <% if @application.nil? %>
      <h3>Login to <%= Settings.single_application_mode_name %></h3>
    <% else %>
      <h3>Welcome to <%= @application.name %> login system</h3>
    <% end %>
    <%# form_for(@session, :url => sessions_path, html: {role: 'form' }) do |f| %>
    <%= simple_form_for(:session, :url => sessions_path) do |f| %>
      <div class="form-group">
        <%= f.input :email %>
      </div>

      <div class="form-group">
        <%= f.input :password %>
      </div>

      <%= f.submit 'Log in', class: 'btn btn-large btn-primary' %>
    <% end %>
    <p>I don't remember my password: <%= link_to 'please, help me', password_lost_sessions_url %>!</p>
  </div>
</div>
