<div class="jumbotron" align="center">
  <h1>Edit <%= resource_name.to_s.humanize %></h1>
</div>

<div class="well">
  <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form', :class => 'form-horizontal' }) do |f| %>
    <%= f.error_notification %>

    <div class="form-group">
      <% if devise_error_messages!.empty? %>
        <div class="col-sm-offset-2 col-sm-10">
          <p class="lead">
            <%= devise_error_messages! %>
          </p>
        </div>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :email, 'Email', :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :email, :required => true, :autofocus => true %>
      </div>
      <%= f.label :company, 'Company Name', :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :company %>
      </div>
      <%= f.label :first_name, 'First Name', :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :first_name %>
      </div>
      <%= f.label :last_name, 'Last Name', :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :last_name %>
      </div>
      <%= f.label :note, 'Address', :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_area :notes, :cols => "30", :rows => "10" %>
      </div>

      <%= f.label :vat, 'VAT Number', :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :vat %>
      </div>

      <%= f.label :password, 'Password', :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.input :password, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false, :label => false, :input_html => { :size => 20 } %>
      </div>
      <%= f.label :password_confirmation, 'Password confirmation', :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.input :password_confirmation, :required => false, :label => false %>
      </div>
      <%= f.label :current_password, 'Current Password', :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.input :current_password, :hint => "we need your current password to confirm your changes", :required => true, :label => false, :size => 23  %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.button :submit, "Update", :class => 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %></p>

<%= link_to "Back", :back %>
