<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hello <%= @user.user_detail.name %>,</h1>
<p>
  I’m Norby, the robot of <%= @application %>.
</p>
<p>
  Probably you have a little problem: someone request a new password for you and there are many chances this guy are you.
  So, if you really want to update your password, go to <%= link_to @password_lost_url, @password_lost_url %>.
</p>
<p>
  If the token isn't reported, please copy-and-paste this:
</p>
<pre>
  <%=@user.password_lost_token%>
</pre>
<p>Attention: this token will self-destruct at <%=@user.password_lost_expire%></p>
<p>
  Thanks again,
</p>
<p>
  Norby, the Robot
</p>
<p>
  P.S. Remember, I'm just a bit of software. So, if you have any questions
  please first read FAQ at our web site <%= link_to @url, @url %> first
</p>
</body>
</html>