<div class="row">
  <div class="span12">
    <h3>Users</h3>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Email</th>
        <th>Name</th>
        <th>Registration Date</th>
        <th>Balance</th>
        <th>Total Top-Ups</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%=user.email%></td>
          <td><%=user.user_detail.name%></td>
          <td><%=user.created_at.strftime("%d/%m/%Y")%></td>
          <td><%= user.balance.to_f/100 %>£</td>
          <td><%= user.activities.where(kind: 'topup').sum(&:amount).to_f/100 %>£</td>
          <td>
            <%=link_to 'Show', user_path(user), class: 'btn btn-small btn-success'%>
            <%=link_to 'Destroy', user_path(user), method: :delete, class: 'btn btn-small btn-danger', data: { confirm: "Are you sure?" }%>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <%= paginate @users %>
  </div>
</div>