<%= render 'layouts/header' %>

<div class="jumbotron" align="center">
  <h1>Become a Partner</h1>
  <p class="lead">So you want to work with us...</p>

</div>

<div class="container">

  <%= render 'layouts/flashes' %>

  <div class="span12">
    <p>We are constantly searching for partner all over the world to expand our structure. So if you are:</p>
    <ul>
      <li>a software distributor that is interested to promote our service to customers</li>
      <li>a cloud service provider that want sell Always<b>Resolve</b> as "plug-in" of his ecosystem</li>
      <li>an ISP with autonomous system connectivity that is interested to host our service</li>
      <li>a domain registrar that wants to integrate Always<b>Resolve</b> in his infrastructore</li>
      <li>an hardware producer that wants use our Always<b>Resolve</b> DDNS in his products</li>
      <li>something else...</li>
    </ul>
    <p>Fill up our inbox, we like that!</p>

    <div class="well">
      <%= form_for @partner, :url => semi_static_index_path, :html => {:method => :post, :role => 'form', :class => 'form-horizontal'} do |f| %>
        <div class="form-group">
          <%= f.label :first_name, 'First Name', :class => "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= f.text_field :first_name, :class => 'form-control', placeholder: "Robert" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :last_name, 'Last Name', :class => "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= f.text_field :last_name, :class => 'form-control', placeholder: "Smith" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :last_name, 'Email', :class => "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= f.email_field :email, :class => 'form-control', placeholder: "user@domain.tld" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :company, 'Company', :class => "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= f.text_field :company, :class => 'form-control', placeholder: "Acme LTD" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :kind, 'I am a', :class => "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= f.select :kind, options_for_select(['software distributor', 'cloud service provider', 'internet service provider', 'domain registrar', 'hardware producer', 'other...']), :class => 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :message, 'Message', :class => "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= f.text_area :message, :class => 'form-control', placeholder: "Your message here..." %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <%= f.submit 'Send', :class => 'btn btn-primary' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>