<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>A possible partner contact us via alwaysresolve.com</h1>
<p>
  First name <%= @partner.first_name %>.<br/>
  Last name <%= @partner.last_name %>.<br/>
  Company <%= @partner.company %>.<br/>
  Is a <%= @partner.kind %>.<br/>
</p>
<p>
  Message:<br />
  <%= @partner.message %>
</p>
</body>
</html>