<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hello <%= @user.user_detail.name %>,</h1>
<p>
  I’m Norby, the robot of <%= @application %>.
</p>
<p>
  Huston, I have a big problem: your subscription <%= @subscription.description %> has expired <%= Settings.grey_days %> days ago, I tried two times to debit
  <%=@subscription.amount.tof/100%> UKP from your balance, but unsuccessfully.<br/>
  At the moment you have <%=@user.balance%> UKP in your account so is impossible to renew your subscription and the service was disabled. Please contact us if you want to re-enable your service.
</p>
<p>
  Thanks again,
</p>
<p>
  Norby, the Robot
</p>
<p>
  P.S. Remember, I'm just a bit of software. So, if you have any questions
  please first read FAQ at our web site <%= link_to @url, @url %> first
</p>
</body>
</html>