<% if signed_in? %>
  <% if @user.is_admin? %>
    <%= high_chart('user_vs_topup_chart', @chart) %>
    <h3>TopUp without a linked invoice</h3>
    <ul style="text-align: left">
      <% @top_up_to_bill.each do |a| %>
        <li>
          <%=a.created_at.strftime("%d/%m/%Y")%>:
          <%= a.user.user_detail.name %> -
          <%= a.user.user_detail.address1 %> -
          <%= a.user.user_detail.address2 %> -
          <%= a.user.user_detail.zip %> -
          <%= a.user.user_detail.city %> -
          <%= a.user.user_detail.state %> -
          <%= a.user.user_detail.country %> -
          <%= a.user.user_detail.vat_id %> -
          <a href="<%= link_to_document(a) %>" data-toggle="tooltip" title="<%= tooltip_text(a) %>"><%= a.kind %></a>

          of <%=(a.amount.to_f/100).to_s%>£
        </li>
      <% end %>
    </ul>
  <% else %>
    <div class="container">
      <div class="row">
        <h1>Hello, <%= @name %></h1>
        <h2>Your current balance is <%= @user.balance.to_f/100 %> £</h2>
        <div class="span8">
          <div class="row">
            <div class="span6 shadow">
              <h3>Have you a voucher?</h3>
              <h5>Insert your code here!</h5>
              <%= simple_form_for @voucher, url: user_vouchers_path(@user) do |f| %>
                <%=f.input :voucher_code%><br/>
                <%=submit_tag('Activate it!', class: 'btn btn-large btn-primary')%>
              <% end %>
              <p><i><%=link_to('How can I get that?','#')%></i></p>
            </div>
          </div>
          <div class="row">
            <div class="span2 shadow">
              <h3>Top-up 10 £</h3>
              <h5>(vat incl.)</h5>
              <%= form_tag user_topups_path(@user) do %>
                <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= STRIPE_PUBLIC_KEY %>"
                data-amount="1000"
                data-name="<%= @application_name %>"
                data-description="TopUp of 10.00 UKP"
                data-currenncy="gbp"
                data-email="<%= @user.email %>"
                >
                </script>
                <%= hidden_field_tag :amount, 1000 %>
              <% end %>
            </div>

            <div class="span2 shadow">
              <h3>Top-up 25 £</h3>
              <h5>(vat incl.)</h5>
              <%= form_tag user_topups_path(@user) do %>
                <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= STRIPE_PUBLIC_KEY %>"
                data-amount="2500"
                data-name="<%= @application_name %>"
                data-description="TopUp of 25.00 UKP"
                data-currenncy="gbp"
                data-email="<%= @user.email %>"
                >
                </script>
                <%= hidden_field_tag :amount, 2500 %>
              <% end %>
            </div>

            <div class="span2 shadow">
              <h3>Top-up 50 £</h3>
              <h5>(vat incl.)</h5>
              <%= form_tag user_topups_path(@user) do %>
                <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= STRIPE_PUBLIC_KEY %>"
                data-amount="5000"
                data-name="<%= @application_name %>"
                data-description="TopUp of 50.00 UKP"
                data-currenncy="gbp"
                data-email="<%= @user.email %>"
                >
                </script>
                <%= hidden_field_tag :amount, 5000 %>
              <% end %>
            </div>
          </div>

          <div class="row">
            <div class="span2 shadow">
              <h3>Top-up 100 £</h3>
              <h5>(vat incl.)</h5>
              <%= form_tag user_topups_path(@user) do %>
                <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= STRIPE_PUBLIC_KEY %>"
                data-amount="10000"
                data-name="<%= @application_name %>"
                data-description="TopUp of 100.00 UKP"
                data-currenncy="gbp"
                data-email="<%= @user.email %>"
                >
                </script>
                <%= hidden_field_tag :amount, 10000 %>
              <% end %>
            </div>

            <div class="span2 shadow">
              <h3>Top-up 200 £</h3>
              <h5>(vat incl.)</h5>
              <%= form_tag user_topups_path(@user) do %>
                <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= STRIPE_PUBLIC_KEY %>"
                data-amount="20000"
                data-name="<%= @application_name %>"
                data-description="TopUp of 200.00 UKP"
                data-currenncy="gbp"
                data-email="<%= @user.email %>"
                >
                </script>
                <%= hidden_field_tag :amount, 20000 %>
              <% end %>
            </div>

            <div class="span2 shadow">
              <h3>Top-up 500 £</h3>
              <h5>(vat incl.)</h5>
              <%= form_tag user_topups_path(@user) do %>
                <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= STRIPE_PUBLIC_KEY %>"
                data-amount="50000"
                data-name="<%= @application_name %>"
                data-description="TopUp of 500.00 UKP"
                data-currenncy="gbp"
                data-email="<%= @user.email %>"
                >
                </script>
                <%= hidden_field_tag :amount, 50000 %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="span3 shadow">
          <h3>Last activities</h3>
          <ul style="text-align: left">
            <% @activities.each do |a| %>
              <li>
                <%=a.created_at.strftime("%d/%m/%Y")%>:
                <a href="<%= link_to_document(a) %>" data-toggle="tooltip" title="<%= tooltip_text(a) %>"><%= a.kind %></a>

                of <%=(a.amount.to_f/100).to_s%>£
              </li>
            <% end %>
          </ul>
          <%= paginate @activities %>
        </div>
      </div>


    </div>

  <% end %>
<% else %>
  <%=link_to('Login', signin_path) %> | <%= link_to('Register', signup_path) %>
<% end %>